@{
    ViewBag.Title = "Home Page";
    var loginName = Session["loginName"] == null ? Request.Cookies["loginName"].Value : Session["loginName"].ToString();
}
    <link href="~/Content/index.css" rel="stylesheet" />
<h3>
        @*@loginName*@
</h3>

<div>
    <div id="wrap_left">
        <ul>
            <li>
                博客园
            </li>
            <li>
                <p>
                    @Html.ActionLink("创建分类", "CreateCategory", "Article")
                </p>
                <ul>
                    <li>
                        @Html.ActionLink("分类管理", "CategoryList", "Article")
                    </li>
                </ul>
            </li>
            <li>
                <p>
                    @Html.ActionLink("创建文章", "CreateArticle", "Article")
                </p>
                <ul>
                    <li>
                        @Html.ActionLink("文章管理", "AritcleList", "Article")
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>