body {
}
h2{
    text-align:center;
}
.list-wrap > a:nth-child(1),
.list-wrap > a:nth-child(2),
.list-wrap > a:nth-child(3) {
    color: white;
    padding: 7px;
    border-radius: 5px;
}
.list-wrap > a:nth-child(1) {
    background-color: aquamarine;
}
.list-wrap > a:nth-child(2) {
    background-color: green;
}
.list-wrap > a:nth-child(3) {
    background-color: red;
}
