.btn_wrap,
.txtComment {
    float: right;
}
.btn_wrap {
    width: 10rem;
    margin-right: 10px;
}
.txtComment {
    margin-top: 8px;
}
.likeWrap {
    position: relative;
    font-size: 20px;
    color: #ccc;
}
