body{
    margin:0;
    padding:0;
}
ul {
    list-style: none;
    padding: 0;
    user-select:none;
}
li {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}

.body-content{
    width:100%;
}
