body{
    margin:0;
    padding:0;
}
ul{
    list-style:none;
    padding:0;
}
a {
    text-decoration: none;
    color: black;
}
.body-content{
    width:100%;
}

#wrap_left {
    width: 15%;
    height: 500px;
    margin-top: 51px;
    background-color: antiquewhite;
}