body {
    margin: 0;
    padding: 0;
    overflow-y:hidden;
}
.body-content {
    width: 100%;
    height: 802px;
    padding: 0;
    background-image: url('../Images/4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.form-horizontal {
    width: 32%;
    margin: 257px auto;
}